<div class="bnks-urban-info-page-container">
  
  <div class="bnks-urban-about-page-header"><b>About BNKS Urban Dictionary</b></div>
  <hr/>
  <div class="bnks-urban-about-page-info">
    Hello world!
    <br>
    <p>
    BNKS Urban Dictionary is a small-scale web app side project that I did over my Spring Break.
    While working on my CS142 final project in college, I was bored by how little the return on investment was.
    I must have written 2000 lines of code for its final project and yet after the finals was over, I knew there would be
    nothing left of it. <i>Localhost is, after all, just local.</i> 
    </p>

    <p>So I decided to use some of my code from that project and build an entirely different thing
    that I can perhaps launch and have it up there on the internet (forever?). I am not sure why the idea of Urban Dictionary
    for BNKS, my alma mater, was interesting enough to me. But once I began working on it, I realized that it IS interesting!
    Looking backwards, I think it was the idea that kept me going, not the code. Even if this app is simple, it threw many
    new challenges at me and I had a great time trying to piece things together.
    </p>
    <p>
    My goal was to build something from scratch -- anything that is interesting -- interesting enough to keep me hooked so that I would
    not get bored midway and hopefully lead the project to completion. If you're reading this, it means that this project is working
    correctly and I have hence achieved what I sought.
    </p>

    <p>
    Best,
    <br>
    Anik
    </p>
  </div>
</div>