.bnks-urban-user-role{
  padding: 5px 10px 5px 10px;
  background-color: #f4ee42;
  font-family: Georgia,"Times New Roman",serif;
  font-size: 11px;
  font-weight: bold;
  color: #600;
  text-transform: uppercase;
}